.container{style:'margin-top:2%;'}
  = simple_form_for @question, :url => assessment_question_update_path(id:@question.id, qtype:@question.qtype), :method => :post do |f|
    -#- if @question.errors.any?
    -#  #errors
    -#    %h2
    -#      = pluralize(@question.errors.count, "error")
    -#      prevented this post from saving:
    -#    %ul
    -#      - @question.errors.full_messages.each do |msg|
    -#        %li= msg
    %table.table-striped.table-bordered{style:"width: 100%;"}
      %tbody
        %tr
          %th.text-center= f.label :question_text
          %td= f.cktext_area :question_text, :class => "form-control", required:true, :ckeditor => {:toolbar => 'Full'}, :ckeditor => { :height => 200 }
        %tr
          %th.text-center{style: "height: 3.5em"} Options
        %tr
          %td
            - if @question.qtype == 'SmcqQuestion' || @question.qtype == 'MmcqQuestion'
              - @question.question_answers.each_with_index do |question_answer, i|
                = f.simple_fields_for :question_answers, question_answer do |qa|
                  %tr
                    %td.text-center{style:"width:10%;"}
                      - if @question.qtype == 'SmcqQuestion'
                        =qa.check_box :fraction, :checked => (question_answer.fraction == true) ? true : false, class: 'SmcqQuestions'
                      - else
                        =qa.check_box :fraction, :checked => (question_answer.fraction == true) ? true : false
                    %td= qa.cktext_area :answer, :class => "form-control", required:true, value: question_answer.answer, :ckeditor => { :height => 100 }
        %tr
          %th.text-center Explanation
          %td= f.cktext_area :general_feedback, :class => "form-control", required:true, :ckeditor => {:toolbar => 'Full'}, :ckeditor => { :height => 200 }
        %tr
          %th.text-center Marks
          %td= f.text_area :default_mark
    %br

    = f.submit class:'btn btn-default'
:css
  textarea {
      width: 100%;
      padding: 1.5%;
  }
  select{
      padding: .6% 2%;
      border-radius: 5%;
      font-size: 1.3em;
  }
  select option{
      font-size: 1.3em;
  }
:javascript
  $('.SmcqQuestions').on ('change',function () {
   $('.SmcqQuestions').not(this).prop('checked', false);
  });
