.container{style:'margin-top:6%;'}
  %ul.nav.nav-tabs
    %li.ui-state-default.ui-corner-top
      =link_to "All Assessments",assessment_all_quizzes_path
    %li.ui-state-default.ui-state-active.ui-corner-top
      %a{href: " "} Create Assessment
  .container{style:'margin-top:2%;'}
    %ul.nav.nav-tabs
      %li.active=link_to "Create Template", "#create_template"
      %li.disabled=link_to "Add Questions"
      %li.disabled=link_to "Preview"
      %li.disabled=link_to "Upload"
    .tab-content
      .tab-pane.fade.in.active{:id => "create_template"}
        = simple_form_for @quiz, :url => assessment_quiz_create_path(id:@quiz.id), :method => :post do |f|
          = f.label "Assessment Type:"
          =f.select "type", options_for_select(@quiz_types), class:'btn btn-default'
          -if @quiz.quiz_language_specific_datas.blank?
            -@quiz.quiz_language_specific_datas.build
          - @quiz.quiz_language_specific_datas.each_with_index do |quiz_language_specific_data, i|
            = f.simple_fields_for :quiz_language_specific_datas, quiz_language_specific_data do |qd|
              - if(quiz_language_specific_data.language == Language::ENGLISH)
                =qd.text_field :name
                =qd.cktext_area :instructions, :class => "form-control", required:true, :class => "form-control", required:true, :ckeditor => {:toolbar =>    'Full'}, :ckeditor => { :height => 200 }
          %br
          %label Do You want sections:
          = select_tag(:quiz_section_ids,options_for_select([['Select option type',"selectoptiontype"],['Yes',"yes"],['No',"no"]],0),:id => "quiz_section",class:"drop_down",style:"padding:7px")
          %br
          %br
          .sections
            .ui-widget-contentid{style: "width: 100%;overflow-x: auto;"}
              %table{style:"border: 1px solid #CCC; width: 100%;" }
                %tr
                  %td.options{:id => "section"}
          %br
          = f.submit "Add Questions",value:"Add Questions" ,id:"addQuestionsToAssessment",class: "btn btn-default", confirm:"Template once saved cannot be changed. Do you want to continue?	"

:javascript
  attachLiveEventsForDynamicEntities();
  $(function () {
      $("#section").hide()
      $("#quiz_section").change(function () {
          sec = $(this).val();
          //alert("Selected Text: " + sec );
          if(sec == 'yes'){
            $("#section").show()
            $('#section').html('#{escape_javascript( render :partial => 'add_section', :locals => {quiz: @quiz})}');
          }
          else{
            $("#section").hide()
          }
      });
  });
