.container{style:'margin-top:4%;'}
  %h3 Edit Section
  = simple_form_for @section, :url => assessment_section_update_path(id:@section.id), :method => :post do |f|
    %table.table-striped.table-bordered{style:"width: 80%;"}
      %tbody
        %tr
          %th.text-center{style:"width:40%;"}= f.label :Name
          %th.text-center{style:"width:40%;"}= f.label :Instructions
        %tr
          - @section.quiz_section_language_specific_datas.each_with_index do |quiz_section_language_specific_data, i|
            = f.simple_fields_for :quiz_section_language_specific_datas, quiz_section_language_specific_data do |qd|
              - if(quiz_section_language_specific_data.language == Language::ENGLISH)
                %td.text-center=qd.text_area :name
                %td.text-center=qd.text_area :instructions.to_s.html_safe
    %br
    = f.submit class:'btn btn-default'
